.hero {
    
    

    &__container {

        position: relative;

        display: flex;
        flex-direction: column;

        margin: 0;
        padding: 0;
        padding-top: 96px;
        padding-bottom: 0;
        
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: auto;

        background-color: $backgroundprimary;

        box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.24);

        z-index: 1;


    }

    &__title {

        font-family: 'Lato', sans-serif;
        font-weight: 600;

        font-size: 36px;

        color: $textprimary;

        text-align: center;


        margin-bottom: 36px;

        @include breakpoint-down(small) {

            font-size: 24px;


            margin-bottom: 36px;
        }

    }

    &__text {

        margin: 0;

        font-family: 'Lato', sans-serif;
        font-weight: 400;

        font-size: 18px;

        text-align: center;

        color: $textprimary;
        margin-bottom: 24px;

        @include breakpoint-down(small) {

            font-size: 16px;
            margin-bottom: 48px;
        }

    }

    &__image {

        margin:0;
        padding: 0;

        height: 400px;
        width: 100%;
        max-width: calc(400px / 0.57);
        object-fit: cover;
        object-position: center;

        @include breakpoint-down(small) {

            height: 300px;
            max-width: calc(300px / 0.57);

        }

    }

}

.panaintro {

    margin: 0;
    padding: 0;

    width: 100%;
    height: 100vh;

    background-color: $backgoundsecondary;

    &__container {

        margin: 0 auto;
        padding: 64px 0;

        width: 90%;
        height:auto;

        display: flex;

        flex-direction: column;

        align-items: center;
        justify-content: space-around;

        @include breakpoint-up(medium) {

            padding: 0;

            width: 100%;
            height: 100vh;

            flex-direction: row-reverse;
            max-width: 940px;

            justify-content: space-between;
            align-items: center;

        }
    }

    &__image {

        margin-top: 36px;

        height: 280px;
        width: calc(280px / 0.722);
        max-width: 100%;

        background-image: url(/dist/assets/panateayuda-small.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        

        @include breakpoint-up(medium) {

            background-image: url(/dist/assets/panateayuda-big.png);

            width:450px;
            height: calc(450px / 1.10);
        }
    }

    &__text-container {
        
        display: block;
        max-width: 450px;
        padding: 0;

        text-align: left;

        @include breakpoint-down(small) {

            text-align: center;
        }
    }

    &__title {


        font-family: 'Lato', sans-serif;
        font-weight: 600;

        font-size: 36px;

        color: $textprimary;

        text-align: left;


        margin-bottom: 36px;

        @include breakpoint-down(small) {

            font-size: 24px;


            margin-bottom: 36px;

            text-align: center;
        }

    }

    &__text {

        margin: 0;

        font-family: 'Lato', sans-serif;
        font-weight: 400;

        font-size: 18px;

        text-align: left;

        color: $textprimary;
        margin-bottom: 24px;

        @include breakpoint-down(small) {

            font-size: 16px;
            margin-bottom: 48px;

            text-align: center;
        }

    }
}